<!DOCTYPE html>
<html lang="fr">
<div>
    <h1>-------   International Space Station -------</h1>
    <br>
    <img src="assets/images/logo.png" alt="Logo ISS" width="150" height="150">
    <!-------- Mise en place de la navigation -------->
    <nav id="menu">
        <ul class="menu">
            <li>
                <a href="#">Accueil &#x23F7;</a>
                <ul class="sous-menu">
                    <li><a href="#">Sous-Menu 1</a></li>
                    <li><a href="#">Sous-Menu 1</a></li>
                    <li><a href="#">Sous-Menu 1</a></li>
                </ul>
            </li>
            <li><a href="#">Liste 2 &#x23F7;</a></li>
            <li><a href="#">Liste 3&#x23F7;</a></li>
        </ul>
    </nav>
</div>
</html>